body {
    width: 40%;
    /* align-items: center; */
    margin: 0 auto;
}
#grid-display {
    background-color: navy;
    display: grid;
    grid-template-columns: 30% 70%;
    /* align-items: center;
    justify-content: center; */
    margin-top: 0.5in;
    box-shadow: 5px 5px 5px #6f7364;
    border-radius: 15px;
}
#photo-student {
    width: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-items: left;
    padding: 0.8cm;
}
#student-name {
    color: white;
    font-size: 1.2em;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    justify-content: center;
    padding-top: 1.2cm;
    padding-right: 0.7cm;
}
main {
    align-content: center;
    text-align: left;
}
footer {
    background-color: navy;
    text-align: center;
    border-radius: 15px;
}
#copyright{
    color: white;
    padding-top: 0.5cm;
    font-family: 'Courier New', Courier, monospace;
}
#last-update{
    color: yellow;
    padding-bottom: 0.5cm;
    font-family: 'Courier New', Courier, monospace;
}
.my-name{
    font-family: 'Poltawski Nowy', serif;
}
main h2{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Poltawski Nowy', serif;
    font-size: 1.5em;
    text-shadow: 0.1em 0.1em 0.2em #6f7364;
    border-bottom: solid gray;
}
main ul {
    list-style-type: circle;
    font-family: 'Courier New', Courier, monospace;
    line-height: 0.8cm;
}
main p {
    color: gray;
    font-family: 'EB Garamond', serif;
    /* font-family: 'Courier New', Courier, monospace cursive; */
    border-top: solid gray;
}
main ul a{
    color: blue;
}