@media screen and (max-width: 549px) {
    
    main {
        grid-template-columns: 1fr;
    }

    .column-text{
        grid-column: 1;
        width: 90%;
        min-width: 255px;
        max-width: 350px;
        justify-self: center;
        align-self: center;
    }
}