
/* @import url("https://fonts.googleapis.com/css?family=Sofia"); */

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #f5bb00;
    --secondary-color: #ff4e00;
    --accent1-color: #8ea604;
    --accent2-color: #bf3100;
    --accent3-color: #ec9f05;
}
/* @media only screen and (min-width:32.5rem){ */

body{
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

h2 {
    text-align: center;
    color: navy;
    margin-top: 0.5in;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
  
 
.logoHome{
    float: left; 
    width: 20%;
    height: auto;
    padding: 0.1in;
}
  
.logo {

      display: flex; 
      float: center; 
      width:30%;
      height: auto;
}

img {
    align-items: center;
    margin: 0 auto;
    padding-top: 0.2in;
    width: 10%;
    padding-bottom: 0.2cm;
}

hr {
        height: 3px;
        margin: 35px 0;
        background: var(--accent3-color);         
}
  

header {
    display: flex;
    flex-direction: column;
    color: var(--headline-color-on-color);
    background-color: white;
    margin-bottom: 1%;
}

header > h1, header > h2 {
    color: var(--headline-color-on-color);
}
.social {
    display: flex;
    float: right;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1, p {margin: 0 2vw;}
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: navy;
    float: right;
}
nav {
    background-color: #f5bb00;
    padding-bottom: .1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
nav ul li a {
    display: flex;
    padding: 0.8cm;
    margin: 0.3cm;
    text-decoration: none;
    color: navy;
    border-top: 1px solid rgba(0,0,0,.5);
    justify-content: center;
    font-weight: 600;
}
nav ul li.current a {
    background-color: rgba(0,0,0,.2);
    color: navy;
}

nav ul li a:hover {
    background-color: #8ea604;
    color: white;
    font-weight: 600;
}

nav ul {display: none;}
nav ul.open {display:block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}

footer {
    display: inline-block;
    background: #f5bb00;
    color: navy;
    font-family: 'Merriweather', serif;
    margin-top: 10px;
    text-decoration: none;
    align-items: center; 
    justify-content: center;
}

footer a {   
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    color: navy;
    text-decoration: none;
    text-shadow: 1.1px 1.1px black; 
}

.address {
    display: grid;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}

.contact {
    display: grid;
    text-align: center;
    line-height: 2.5;
    margin-top: 0.5in;
    font-size: 18px;
}

#copyright {
    margin-top: 0.5in;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 0.2in;
}

@media only screen and (max-width: 39rem) {

.gridContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    min-height: 500px;
    margin: 0;
    row-gap: .5rem;    
    text-align: left;
}
.hero {
    grid-row: 1; 
    background-color: #8ea604;
    border: 1px solid black;
    /* float: left; */
    display: grid;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}
.hero h2{
    color: #bf3100;
    font-size: 40px;
    position: absolute;
    margin: 0;
    top: 2.3in;
    left: 0.5in
}
.hero button{
    position: absolute;
    top: 4.5in;
    right: 0.5in;
    background: #ff4e00;
    border-radius: 12px;
    padding: 0.2cm;
    color: white;
}

.food-truck {
    grid-row: 2;
    background-color: #8ea604;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 25px;
}
.food-truck img{
  width: 50%;
  margin-top: 0.3in;
  align-items: center;
  transition: transform .2s;
}

.food-truck img:hover{
  transform: scale(1.1);
}

.food-truck p:hover {
  color: white;
  text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px darkblue;
}



    /* *****************************************
                WEATHER
***************************************** */

section.weather {
    background-color: #8ea604;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    border: 1px solid black;
  }
  
  .weather-div {
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .weather-div #current-temp {
    font-size: 2em;
  }
  
  .weather-icon img{
    width: 90%;
    float: left;
  }
  .temperature{
    color: white;
    text-align: right;
  }
  .temperature h3{
    color: #bf3100;
    text-align: center;
    margin-top: 0.1cm;
  }
  .temperature p {
    font-size: .8em
  }
  .wind{
    font-size: 22px;
    color: white;
    text-align: right;
  }
  
  .wind hr {
    margin-top: 15px;
  }
  
  .weather-icon figcaption {
    padding: 0;
    float: left;
  }


.spotlight1 {
    grid-row: 4;
    background-color: #8ea604;
    border: 1px solid black;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 0.2cm;
    transition: transform .2s;
}
.spotlight1 h3{
    color: #bf3100;
}
.spotlight1 img{
    width: 60%;
    align-items: center;
}
.spotlight1 a{
  font-size: 18px;
}

.spotlight1 img:hover{
  transform: scale(1.1);
}

.options {   
    grid-row: 5; 
    background-color: #8ea604;
    border: 1px solid black;
    text-align: center;
    color: white;
    font-size: 25px;
    transition: transform .2s;
}

.options h3{
    color: #bf3100;
}
.options img{
    width: 55%;
    align-items: center;
    padding: 10px;
}

.options img:hover{
  transform: scale(1.1);
}


    /* *****************************************
                FRESH
***************************************** */
  
  #drinkform {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2in;
  }
  
  .form-header {
    text-align: center;
    margin: 1em;
    font-size: 35px;
    color: #445ba9;
  }
  
  .drinkform fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 12px;
    padding: .5rem 2%;
    background-color: #8ea604;
  }
  
  .drinkform legend{    
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: bold;
    font-size: 25px;
  }
  
  .drinkform input {
    border: 1px solid black;
    margin-bottom: .5rem;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .drinkform textarea {
    height: 30vh;
    border-radius: 5px;
    border: none;
  }
  
  .drinkform label{
    display: flex;
    flex-direction: column;
  }
  .top {
    text-align: left;
    color: #445ba9;
  }
  
  .submitButton {
    background-color: #bf3100;
    margin: 0 auto;
    margin-bottom: 0.2in;
    color: white;
    max-width: 200px;
    font-weight: bold;
  }
  
  .submitButton:hover {
    background-color: #8ea604;
    color: white;
    border: var(--accent1-color) solid 1px;
  }

  .grid-images {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* min-height: 500px; */
    margin: 0;
    row-gap: 10px;    
    /* text-align: left; */
}
.grid-images img{
  width: 80%;
  height: 80%;
  padding: 0;
  margin-top: 0.5in;
  margin: 0 auto;
  object-fit: cover;
}
  
  
/**********************/
      /* Contact */
/**********************/

.hero-about img{
  width: 100%;
  margin: 0;
  padding: 0;

}
.aboutus p{
  color: #445ba9;
  font-size: 22px;
  padding: 0.2cm;
  text-align: center;
}

.contact-section h2 {
  text-align: center;
  font-size: 30px;
  margin: 1em;
  color: navy;
}


.contact-section {
  margin: 0;
}

.contact-section contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: unset;
  text-align: center;
  margin: 2em;
}

.contact-section social-media {
  margin: 2em;

}

.map iframe{
  width: 90%;
  height: 50vh;
  margin: 0.2in;
}

}
