
@media only screen and (min-width: 64rem) {

    body{
        max-width: 1600px;
    }
    

    #menuNav {
        display: flex;
        padding: 0.8cm;
        /* margin: 0.3cm; */
        text-decoration: none;
        color: white;
        justify-content: center;
        font-weight: 600;
    }

    nav ul li.current a {
        background-color: rgba(0,0,0,.2);
        color: #fff;
    }
    
    nav ul li a:hover {
        background-color: #def25e;
        color: black;
        font-weight: 600;
    }

    nav {
        padding-bottom: .1rem;
    }
    

    nav ul {display: none;}
    nav ul.open {display:none;}

    #hamburgerBtn span:nth-child(1) {display:none;}
    #hamburgerBtn span:nth-child(2) {display:none;}

    #hamburgerBtn.open span:nth-child(1) {display:none;}
    #hamburgerBtn.open span:nth-child(2) {display:none;}

    
    #logoHome img{
        max-width: 20%;
        margin-bottom: 1rem;
    }
    img {
        width: 5%;
        float: right;
        padding: 0.2cm;
    }
    
    .gridContainer {
        display: grid;
        justify-content: center;
        grid-template-columns: 23% 48% 23%;
        grid-template-rows: 50% 50%;
        min-height: 500px;
        column-gap: 15px;
        row-gap: 15px;    
        margin-bottom: 0.3in;
        text-align: left;
    }
   
    .food-truck {
      grid-row: 2;
      background-color: #8ea604;
      border: 1px solid black;
      text-align: center;
      font-weight: bold;
      color: white;
      font-size: 25px;
  }
  .food-truck img{
    width: 75%;
    /* margin-top: 0.3in; */
    align-items: center;
    transition: transform .2s;
    padding: 0;
    padding-right: 0.2in;
    margin: 0.2in;
  }
  
  .food-truck img:hover{
    transform: scale(1.1);
  }
  
  .food-truck p:hover {
    color: white;
    text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  
  .food-truck p{
    font-size: 25px;
    margin: 0.2in;
  }


    /* *****************************************
                WEATHER
***************************************** */

section.weather {
  background-color: #8ea604;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  border: 1px solid black;
}

.weather-div {
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.weather-div #current-temp {
  font-size: 2em;
}

.weather-icon img{
  width: 70%;
  float: left;
}
.temperature{
  color: white;
  text-align: right;
}
.temperature h3{
  color: #bf3100;
  text-align: center;
  margin-top: 0.3in;
  font-size: 25px;
}
.temperature p {
  font-size: .8em
}
.wind{
  font-size: 18px;
  color: white;
  text-align: right;
}

.wind hr {
  margin-top: 15px;
}

.weather-icon figcaption {
  padding: 0;
  float: left;
}

    
    .hero {
        grid-column: 2/3;
        grid-row: 1/3; 
        column-gap: .5%;
        background-color: #8ea604;
        border: 1px solid black; 
    }

    .hero img{
        /* grid-column: 1;
        grid-row: 1; */
        width: 100%;
        /* height: 100%; */
        object-fit: cover;
        padding: 0;
    }
    .hero h2{
        color: #bf3100;
        font-size: 50px;
        position: absolute;
        margin: 0;
        top: 4in;
        left: 4.7in;
    }

    .hero button{
        position: absolute;
        top: 8.5in;
        right: 4.5in;
        background: #ff4e00;
        border-radius: 12px;
        padding: 0.3cm;
        color: white;
    }

    
    .spotlight1 {
        grid-row: 1/2;
        grid-column: 3/4;
        border: 1px solid black;
        background-color: #8ea604;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 0.2cm;
        transition: transform .2s;
    } 
    
    .spotlight1 h3{
      color: #bf3100;
        font-size: 18px;
    }
    .spotlight1 img{
        width: 75%;
        /* float: revert; */
        padding: 0;
        /* margin-bottom: 0.3cm; */
        margin: 0.2in;
  
    }
    .spotlight1 a{
      font-size: 18px;
    }

    .spotlight1 hr{
        margin: 10px;
    }

    .spotlight1 img:hover{
      transform: scale(1.1);
    }

    .options {   
      grid-row: 2; 
      background-color: #8ea604;
      border: 1px solid black;
      text-align: center;
      color: white;
      font-size: 22px;
      transition: transform .2s;
  }
  
  .options h3{
      color: #bf3100;
  }
  .options img{
      width: 70%;
      align-items: center;
      margin-right: 0.5in;
      /* margin: 0.1in; */
  }
  
  .options img:hover{
    transform: scale(1.1);
  }

    
    h2 {
        text-align: left;
        color: white;
        margin-left: 4in;
        font-size: 30px;
    }
    .footer {
        display: grid;
        flex-wrap: wrap;
        text-shadow: 1.1px 1.1px black;
        font-size: 3rem;
        background-color: #f5bb00;
        color: navy;
        width: 100%;
    }
    
    .logo {
        display: grid;
        float: left;
        width: 20%;
        height: auto;
    }
    .address {
        display: grid;
        text-align: left;
        margin-left: 1in;
        line-height: 1.5;
        font-size: 22px;
    }
    
    .contact {
      display: grid;
      text-align: right;
      margin-right: 1in;
      line-height: 1.5;
      font-size: 22px;
    }
    .date {
      color: white;
      font-size: 10pt;
    }
    #copyright {
        margin-top: 0.2in;
        text-align: center;
        margin-bottom: 0.2in;
        font-size: 22px;
    }

     /* *****************************************
                FRESH
***************************************** */
  
  #drinkform {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2in;
  }
  
  .form-header {
    text-align: center;
    margin: 1em;
    font-size: 35px;
    color: #445ba9;
  }
  
  .drinkform fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 12px;
    padding: .5rem 2%;
    background-color: #8ea604;
  }
  
  .drinkform legend{    
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: bold;
    font-size: 25px;
  }
  
  .drinkform input {
    border: 1px solid black;
    margin-bottom: .5rem;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .drinkform textarea {
    height: 30vh;
    border-radius: 5px;
    border: none;
  }
  
  .drinkform label{
    display: flex;
    flex-direction: column;
  }
  .top {
    text-align: left;
    color: #445ba9;
  }
  
  .submitButton {
    background-color: #bf3100;
    margin: 0 auto;
    margin-bottom: 0.2in;
    color: white;
    max-width: 200px;
    font-weight: bold;
  }
  
  .submitButton:hover {
    background-color: #8ea604;
    color: white;
    border: var(--accent1-color) solid 1px;
  }

  .grid-images {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* min-height: 500px; */
    margin: 0;
    row-gap: 10px;    
    /* text-align: left; */
}
.grid-images img{
  width: 80%;
  height: 80%;
  padding: 0;
  margin-top: 0.5in;
  margin: 0 auto;
  object-fit: cover;
}

/**********************/
      /* Contact */
/**********************/

.hero-about img{
  width: 50%;
  margin: 0;
  padding: 0;

}
.aboutus p{
  color: #445ba9;
  font-size: 22px;
  padding: 0.2cm;
  text-align: center;
}

.contact-section h2 {
  text-align: center;
  font-size: 30px;
  margin: 1em;
  color: navy;
}


.contact-section {
  margin: 0;
}

.contact-section contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: unset;
  text-align: center;
  margin: 2em;
}

.contact-section social-media {
  margin: 2em;

}

.map iframe{
  width: 90%;
  height: 50vh;
  margin: 0.2in;
}
    
    
    } 